<div class="login-container">
  <div class="login-container__overlay">
    <div class="login-card">
      <div class="login-card__brand">
        <div class="login-card__logo">
          <img src="/images/mechanicwavingnobackground.png" alt="TallerMotosApp logo">
        </div>

        <h1>Bienvenidos a TallerMotosApp</h1>
        <p>
          Gestiona clientes, motos, servicios y recordatorios desde una sola plataforma
        </p>
      </div>
      <div class="login-card__form">
        <div class="form-header">
          <h2>Inicia</h2>
          <h2>Sesión</h2>
          <span>Ingresa tus credenciales</span>
        </div>
        <form action="" class="form-login">
          <div class="form-group">
            <label for="email">Correo o usuario</label>
            <input id="email" type="text" placeholder="ejemplo@correo.com">
          </div>
          <div class="form-group">
            <label for="email">Contraseña</label>
            <input id="password" type="password" placeholder="*********">
          </div>
          <div class="form-options">
            <a href="#">Olvidaste tu contraseña?</a>
          </div>
          <button type="submit" class="btn-submit">Ingresar</button>
        </form>
      </div>

    </div>
  </div>
</div>
