//?Fonts
@import url("https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap");

$font-exo: "Exo 2", sans-serif;
$font-Oswald: "Oswald", sans-serif;

//? Colores
$color-bg-primary: #0f172a;
$color-bg-secondary: #111827;
$color-bg-card: #1f2937;

$color-primary: #ef4444;
$color-primary-hover: #dc2626;

$color-secondary: #f97316;

$color-success: #22c55e;
$color-warning: #eab308;
$color-danger: #ef4444;
$color-bone: #f2ebe3;

$color-text-primary: #f9fafb;
$color-text-secondary: #9ca3af;

//? Tipografía
$font-primary: "Poppins", sans-serif;
$font-secondary: "Inter", sans-serif;

//? Espaciados
$spacing-xs: 4px;
$spacing-sm: 8px;
$spacing-md: 16px;
$spacing-lg: 24px;
$spacing-xl: 32px;

//? Bordes
$border-radius-sm: 6px;
$border-radius-md: 10px;
$border-radius-lg: 16px;

//? Sombras
$shadow-sm: 0 2px 4px rgba(0, 0, 0, 0.2);
$shadow-md: 0 4px 10px rgba(0, 0, 0, 0.3);
$shadow-lg: 0 10px 25px rgba(0, 0, 0, 0.4);
