<app-navbar />
<section class="home-hero">
  <div class="home-hero__content">
    <div class="home-hero__text">
      <h1>Administra tu taller de motos
        <span>de forma ágil y profesional</span>
      </h1>
      <p>
        Organiza clientes, motos, servicios y recordatorios en una sola plataforma.
        Lleva el control de tu taller con una experiencia clara, moderna y eficiente.
      </p>

      <div class="home-hero__actions">
        <button class="btn-primary">Comenzar</button>
        <button class="btn-secondary">Ver servicios</button>
      </div>
    </div>

    <div class="home-hero__image">
      <img src="/images/backgroundnobg.png" alt="Ilustración del taller">
    </div>
    <div class="home-hero__brands-block">
      <span class="home-hero__brands-title">Sabemos de marcas como: </span>

      <div class="home-hero__brands">
        <img src="/images/bikebrands/ktm-logonobg.png" alt="KTM">
        <img src="/images/bikebrands/yamaha-logonobg.png" alt="Yamaha">
        <img src="/images/bikebrands/suzuki-logonobg.png" alt="Suzuki">
        <img src="/images/bikebrands/bajaj-logonobg.png" alt="Bajaj">
        <img src="/images/bikebrands/tvs-logonobg.png" alt="TVS">
        <img src="/images/bikebrands/cfmoto-logonobg.png" alt="CfMoto">
        <img src="/images/bikebrands/kawasaki-logonobg.png" alt="Kawasaki">
      </div>
    </div>
  </div>
</section>
