<nav class="navbar">
  <div class="navbar__brand">
    <div class="navbar__logo">
      <img [src]="'/images/brand.png'">
    </div>
  </div>

  <ul class="navbar__menu">
    <li><a routerLink="/home" routerLinkActive="active">Inicio</a></li>
    <li><a routerLink="/clientes" routerLinkActive="active">Clientes</a></li>
    <li><a routerLink="/motos" routerLinkActive="active">Motos</a></li>
    <li><a routerLink="/servicios" routerLinkActive="active">Servicios</a></li>
    <li><a routerLink="/recordatorios" routerLinkActive="active">Recordatorios</a></li>
  </ul>
  <button class="btn-login" type="button">
    Login
  </button>

</nav>
